# Data Type
There are three types of data types in python. They are:
1. Numeric
2. Sequence Type
3. Boolean

# 1. Numeric Data Type
There are three type of numeric datatype.
They are
1. integer
2. float
3. complex type

# Integer

In [1]:
a = 10
print(a)

10

In [2]:
type(a)

int

# Float

In [3]:
a = 1.112
print(a)
type(a)

1.112

float

# Complex Type

In [4]:
a = 2+3j
type(a)

complex

# 2. Boolean Data Type

In [5]:
boolean = True
type(boolean)

bool

# 3. Sequence Data Type

It is of 5 type
1. List
2. Tuple
3. Set
4. Dictionary
5. String

# List is the collection of one or more data items - not neccessarily same type. It is mutable ie, object can be changed after it is created.

In [6]:
lists = [1,3,4,5]
print(lists)
lists1 = list((10,11,12,13,14))
print(lists1)
type(lists)
type(lists1)

[1, 3, 4, 5]
[10, 11, 12, 13, 14]

list

In [7]:
lists[1]=12
print(lists)

[1, 12, 4, 5]

In [8]:
lists.append(64)
lists

[1, 12, 4, 5, 64]

In [9]:
#changing element in list 
lists1[4]="Anjila Tripathi"
lists1

[10, 11, 12, 13, 'Anjila Tripathi']

# Tuple: It is the collection of one or more data items- not neccessarily same type. It is immutable ie, object cannot be changed after it is created.

In [10]:
mytuple=(1,2,3,4)
print(mytuple)
mytuple[3]

(1, 2, 3, 4)

4

In [11]:
type(mytuple)
mytuple[2]="Anjiiii"  #Error: This is immutable as it doesnot allow
#changing of object once it is created

TypeError: 'tuple' object does not support item assignment

# Set: It is the unordered collection of unique items. As it is unordered collection it doesnt consists of index.

In [ ]:
set11 = {1,2,3,4}
set11

In [12]:
set11[0] #Error: As it is unordered collection it doesnt consists of index.

NameError: name 'set11' is not defined

# Dictionary : It is the unordered collection of key-value pair

In [ ]:
mydict = {'myname':"Anjila", "lastname":"Tripathi"}
mydict

In [ ]:
mydict['myname']

In [ ]:
mydict={"myname":"Anjila","lastname":"Tripathi","myname":"Manjila"}
mydict  #having same key overrides the value