In [8]:
#importing pandas and libraries
import pandas as pd

In [9]:
# To check the version of pandas
pd.__version__

'1.5.3'

In [10]:
# To create list
lists = [1,2,3,-4,"anjila"]
print(lists)

[1, 2, 3, -4, 'anjila']

In [11]:
#To create Series data structure
series = pd.Series(lists)
series

0         1
1         2
2         3
3        -4
4    anjila
dtype: object

In [12]:
# To check type of the series
type(series)

pandas.core.series.Series

In [14]:
series2 = pd.Series([1,2,3,4,5,"anjila","angel"])
series2

0         1
1         2
2         3
3         4
4         5
5    anjila
6     angel
dtype: object

In [19]:
# To create empty series
emptys = pd.Series([])
emptys

C:\Users\Dell\AppData\Local\Temp\ipykernel_2348\1415433682.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emptys = pd.Series([])

Series([], dtype: float64)

In [20]:
# giving index as char

series3 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
series3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
# changing data type

series4 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'], dtype= float)
series4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [23]:
# To create scalar value

scalar = pd.Series(0.5, index=[1,2,3,4,5])
scalar

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [28]:
#To creat dictonary data
dic = pd.Series ({'anjila':1,'manjila':2,'manjil':3})
dic

anjila     1
manjila    2
manjil     3
dtype: int64

In [29]:
# To slice the series

series4[3:4]

d    4.0
dtype: float64

In [32]:
s1 = pd.Series([1,2,3,4,5])
s2= pd.Series([2,4,5])
s1+s2

0    3.0
1    6.0
2    8.0
3    NaN
4    NaN
dtype: float64